<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="/static/js/websocket-object-wrapper.js"></script>
    <script type="module" src="/static/js/dj-websocket.js"></script>
    <script type="module" src="/static/js/dj-test-widget.js"></script>
    <script type="module" src="/static/js/dj-test-wodget.js"></script>
  </head>

  <body>
    <dj-websocket id="test-websocket"></dj-websocket>
    <dj-test-widget id="first-widget" websocket="test-websocket" source="random_string"></dj-test-widget>
    <!-- <dj-test-wodget id="second-wodget" websocket="test-websocket" source="random_string"></dj-test-wodget> -->
    <dj-test-widget id="second-wodget" websocket="test-websocket" source="random_string"></dj-test-widget>
  </body>
</html>
